@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poppins&display=swap');
.container{ position:relative;
  width: 100%;
  height: 100vh;
  background-image: url('../components/images/background.png');
  background-size: cover;
  background-position: center;
  z-index:10;}
.navbar {
  background-color: #F4B183;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 15px;
}
.buttcontainer{
  display: flex;
}
.name{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 30px;
  color:#B46060;
 margin-left: 200px;
}
.box {
  margin-right:20px;
  background-color: #245953;
  padding: 8px;
  margin-left: 25px;
}

.button {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #245953;
  color:white;
  text-decoration: solid;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.donate {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: transparent;
  color:rgb(234, 185, 185);
  font-size: 50px;
  text-decoration: solid;
  border: none;
  border-radius: 30px;
  height:100px;
  width:600px;
  cursor: pointer;
  margin-left: 35%;
  margin-top:10%;
}
.donate {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.donate::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(225, 141, 56, 0.3);
	transition: all 0.3s;
}
.donate:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.donate::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(235, 205, 128, 0.5);
	transform: scale(1.2,1.2);
}
.donate:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
