@use postcss-preset-env {
    stage: 0;
  }
  
  form {
    margin-top:5%;
    margin-left:18%;
    display: flex;
    flex-wrap: wrap;
  }
  
  form > input {
    flex: 1 1 10ch;
    margin: .5rem;
  }
  
  form > input[type="email"] {
    flex: 3 1 30ch;
  }
  
  input {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
  }
  
  input[type="submit"] {
    background: rgb(121, 163, 152);
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
  }
  